<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FeedMapper">

<!--	상품등록-->
	<insert id="feedUpload" parameterType="FeedDTO">
		<![CDATA[
		insert into feed ( feed_id, feed_title, feed_description, feed_recipe, FEED_COOKTIME, FEED_COOKLEVEL, FEED_TIME,FEED_LIFESTYLE,FEED_INTEREST,FEED_FOOD_FAVOR,FEED_FOOD_TIME,USER_ID  )
		values (feed_seq.nextval,  #{feed_title}, #{feed_description}, #{feed_recipe}, #{feed_cooktime}, #{feed_cooklevel}, sysdate,#{feed_lifestyle},#{feed_interest},#{feed_food_favor},#{feed_food_time},#{user_id} )
		]]>
	</insert>

	<!-- 피드 아이디 찾아오기 -->
	<select id="selectFeedId" parameterType="FeedDTO" resultType="int">
	<![CDATA[
		SELECT feed_id FROM feed
		WHERE feed_title = #{feed_title} and feed_description=#{feed_description} and feed_recipe=#{feed_recipe}
		]]>
	</select>

</mapper>