<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FeedMapper">

<!--	상품등록-->
	<insert id="feedUpload" parameterType="FeedDTO">
		<![CDATA[
		insert into feed ( feed_id, feed_title, feed_description, feed_recipe, FEED_COOKTIME, FEED_COOKLEVEL, FEED_TIME,FEED_LIFESTYLE,FEED_INTEREST,FEED_FOOD_FAVOR,FEED_FOOD_TIME,USER_ID  )
		values (feed_seq.nextval,  #{feed_title}, #{feed_description}, #{feed_recipe}, #{feed_cooktime}, #{feed_cooklevel}, sysdate,#{feed_lifestyle},#{feed_interest},#{feed_food_favor},#{feed_food_time},#{user_id} )
		]]>
	</insert>

	<!-- 피드 아이디 찾아오기 -->
	<select id="selectFeedId" parameterType="FeedDTO" resultType="int">
	<![CDATA[
		SELECT feed_id FROM feed
		WHERE feed_title = #{feed_title} and feed_description=#{feed_description} and feed_recipe=#{feed_recipe}
		]]>
	</select>

	<!--피드에 상품등록-->
	<insert id="feedProductUpload" parameterType="FeedProductDTO">
		<![CDATA[
		insert into feedProduct ( feed_id, product_id )
		values (#{feed_id},  #{product_id})
		]]>
	</insert>

	<!--피드 조회-->
	<select id="feedView" parameterType="int" resultMap="selectMapList">
	<![CDATA[
		select f.feed_id, f.feed_title,
			   f.feed_description, f.feed_recipe,f.feed_cooktime,
			   f.feed_cooklevel,f.feed_time,
			   f.feed_lifestyle,f.feed_interest,f.feed_food_favor,
			   f.feed_food_time,
			   fp.product_id,p.product_description,p.product_name
		from feed f, feedproduct fp, product p, member m
		where f.feed_id = fp.feed_id
		  and fp.product_id=p.product_id
		  and f.user_id=m.user_id and m.user_id=#{user_id}
		]]>
	</select>
	<resultMap type="map" id="selectMapList">
		<result column="feed_id" property="feed_id"/>
		<result column="feed_title" property="feed_title"/>
		<result column="feed_description" property="feed_description"/>
		<result column="feed_recipe" property="feed_recipe"/>
		<result column="feed_cooktime" property="feed_cooktime"/>
		<result column="feed_cooklevel" property="feed_cooklevel"/>
		<result column="feed_time" property="feed_time"/>
		<result column="feed_lifestyle" property="feed_lifestyle"/>
		<result column="feed_interest" property="feed_interest"/>
		<result column="feed_food_favor" property="feed_food_favor"/>
		<result column="feed_food_time" property="feed_food_time"/>
		<result column="product_id" property="product_id"/>
		<result column="product_description" property="product_description"/>
		<result column="product_name" property="product_name"/>
	</resultMap>

</mapper>