<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.LifeStyleMapper">

    <!-- lifestyle_id 찾기 -->
    <select id="findLifestyle" parameterType="hashmap" resultType="int">
	<![CDATA[
        SELECT lifestyle_id FROM lifestyle
		WHERE gender = #{gender} AND livealone = #{livealone} AND child = #{child} AND worker = #{worker} AND couple = #{couple} AND homemaker = #{homemaker} AND baby = #{baby}
		]]>
	</select>
	<!-- interest_id 찾기 -->
	<select id="findInterest" parameterType="hashmap" resultType="int">
	<![CDATA[
		SELECT interest_id FROM interest
		WHERE pet = #{pet} AND outdoor = #{outdoor} AND health = #{health} AND baking = #{baking} AND cooking = #{cooking} AND babycare = #{babycare}
		]]>
	</select>
	<!-- food_favor_id 찾기 -->
	<select id="findFoodFavor" parameterType="hashmap" resultType="int">
	<![CDATA[
		SELECT food_favor_id FROM food_favor
		WHERE sweetness = #{sweetness} AND bitter = #{bitter} AND sour_taste = #{sour_taste} AND salty = #{salty} AND spicy = #{spicy}
		]]>
	</select>

</mapper>