<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">

    <!-- 로그인 -->
    <select id="selectMember" parameterType="hashmap" resultType="MemberDTO">
	<![CDATA[
        SELECT * FROM member
		WHERE user_email = #{email} AND user_password = #{password}
        ]]>
	</select>

    <!-- 일반회원가입 -->
    <insert id="generalSignUp" parameterType="hashmap">
   	<![CDATA[
        INSERT	INTO member (user_id,user_password,user_name,user_email, user_phone, user_address, user_gender, user_lifestyle, user_interest, user_food_favor, user_access_time)
        VALUES (member_seq.nextval,#{password},#{name},#{email},#{phone},#{address},#{gender},#{user_lifestyle},#{user_interest},#{user_food_favor},to_date(sysdate,'yy-mm-dd hh24:mi:SS'))
        ]]>
	</insert>

	<!-- 접속일시 업데이트 -->
	<update id="updateDatetime" parameterType="hashmap">
		UPDATE member
		SET user_access_time = CURRENT_TIMESTAMP
		WHERE user_email = #{email} AND user_password = #{password}
	</update>

	<!-- 아이디 중복 체크 -->
	<select id="checkId" parameterType="String" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		FROM member
		WHERE user_email = #{email}
		]]>
	</select>

	<!-- 추천요소 업데이트 -->
	<update id="userEdit" parameterType="hashmap">
		UPDATE member
		SET (user_lifestyle,user_interest, user_food_favor) = (#{user_lifestyle},#{user_interest},#{user_food_favor})
		WHERE user_email = #{email} AND user_password = #{password}
	</update>
</mapper>