<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">

    <!-- 로그인 -->
    <select id="selectMember" parameterType="hashmap" resultType="MemberDTO">
	<![CDATA[
        SELECT * FROM member
		WHERE user_email = #{email} AND user_password = #{password}
        ]]>
	</select>

    <!-- 일반회원가입 -->
    <insert id="generalSignUp" parameterType="hashmap">
   	<![CDATA[
        INSERT	INTO member (user_id,user_password,user_name,user_email, user_phone, user_address, user_gender, user_lifestyle, user_interest, user_food_favor, user_access_time)
        VALUES (member_seq.nextval,#{password},#{name},#{email},#{phone},#{address},#{gender},#{user_lifestyle},#{user_interest},#{user_food_favor},to_date(sysdate,'yy-mm-dd hh24:mi:SS'))
        ]]>
	</insert>

	<!-- 접속일시 업데이트 -->
	<update id="updateDatetime" parameterType="hashmap">
		UPDATE member
		SET user_access_time = CURRENT_TIMESTAMP
		WHERE user_email = #{email} AND user_password = #{password}
	</update>

	<!-- 아이디 중복 체크 -->
	<select id="checkId" parameterType="String" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		FROM member
		WHERE user_email = #{email}
		]]>
	</select>

	<!-- 추천요소 업데이트 -->
	<update id="userEdit" parameterType="hashmap">
		UPDATE member
		SET (user_lifestyle,user_interest, user_food_favor) = (#{user_lifestyle},#{user_interest},#{user_food_favor})
		WHERE user_email = #{email} AND user_password = #{password}
	</update>

	<!--유저 조회 추천요소 거리 계산-->
	<select id="memberView" resultMap="selectMapList">
	<![CDATA[
		select m.user_id,l.gender,l.livealone,l.child, l.worker,l.couple,l.homemaker,l.baby,
			   i.pet,i.outdoor,i.health,i.baking,i.cooking,i.babycare,f.sweetness,f.bitter,f.sour_taste,f.salty,f.spicy
		from member m, lifestyle l, interest i, food_favor f
		where m.user_lifestyle = l.lifestyle_id and
			m.user_interest=i.interest_id and
			m.user_food_favor=f.food_favor_id
		]]>
	</select>
	<resultMap type="map" id="selectMapList">
		<result column="user_id" property="user_id"/>
		<result column="lifestyle_id" property="lifestyle_id"/>
		<result column="interest_id" property="interest_id"/>
		<result column="gender" property="gender"/>
		<result column="livealone" property="livealone"/>
		<result column="child" property="child"/>
		<result column="worker" property="worker"/>
		<result column="couple" property="couple"/>
		<result column="homemaker" property="homemaker"/>
		<result column="baby" property="baby"/>
		<result column="pet" property="pet"/>
		<result column="outdoor" property="outdoor"/>
		<result column="health" property="health"/>
		<result column="baking" property="baking"/>
		<result column="cooking" property="cooking"/>
		<result column="babycare" property="babycare"/>
		<result column="sweetness" property="sweetness"/>
		<result column="bitter" property="bitter"/>
		<result column="sour_taste" property="sour_taste"/>
		<result column="salty" property="salty"/>
		<result column="spicy" property="spicy"/>
	</resultMap>
</mapper>