<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.ProductMapper">

<!--	상품등록-->
	<insert id="insert" parameterType="ProductDTO">
		<![CDATA[
		insert into product ( product_id, product_name, product_price, product_description, product_category, product_img, product_clear_img,product_time )
		values (product_seq.nextval,  #{product_name}, #{product_price}, #{product_description}, #{product_category}, #{product_img}, #{product_clear_img},sysdate )
		]]>
	</insert>

	<!-- 상품 자세히 보기 -->
	<select id="selectProductDetail" parameterType="string" resultType="ProductDTO">
	<![CDATA[
		SELECT * FROM product
		WHERE product_id = #{product_id}
		]]>
	</select>

	<!-- 상품 리스트 보기 -->
	<select id="selectProductList" resultType="ProductDTO">
	<![CDATA[
		SELECT * FROM product
		]]>
	</select>

	<!-- 상품 아이디 찾아오기 -->
	<select id="selectProductID" parameterType="ProductDTO" resultType="int">
	<![CDATA[
		SELECT product_id FROM product
		WHERE product_name = #{product_name}
		]]>
	</select>


<!--	<select id="search" resultType="ProductDTO" parameterType="hashmap">-->
<!--		<![CDATA[-->
<!--		select id,-->
<!--			   member_name as memberName,-->
<!--			   title,-->
<!--			   datetime,-->
<!--			   replies,-->
<!--			   likes,-->
<!--			   views-->
<!--		from post-->
<!--		where (${searchCol} like '%'||#{keyword}||'%') AND (category = #{category})-->
<!--		order by id desc-->
<!--		OFFSET (#{pageDto.currentPage}-1)*#{pageDto.limit} ROWS FETCH FIRST #{pageDto.limit} ROWS ONLY-->
<!--		]]>-->
<!--	</select>-->


</mapper>